*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
}
.menuBar{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 10px 20px;
}
.menuLogo a{
    padding-right: 400px;
    font-size: 24px;
    color: #ff9900;
    font-weight: 800;
    text-decoration: none;
}
.menuText{
    color: black;
}
.menuText a{
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menuText a:hover{
    color: #ff9900;
}

/* //------------second layer------------// */
.layerTwo{
    display: flex;
    justify-content: space-between;
}
.layerTwo img {
    margin-right: 135px;
}
.layerTwoText{
    align-content: center;
    margin: 135px;
}
.layerTwoText h1{
    font-size: 60px;
    margin-bottom: 20px
}
.layerTwoText h2{
    font-size: 33px;
    margin-bottom: 20px;
}
.layerTwoText button{
    padding: 10px 15px;
    color: aliceblue;
    background-color: #ffb546;
    border-radius: 6px;
    border-color: aliceblue;
    cursor: pointer;
}
.layerTwoText button:hover{
    background-color: #ff9900;
}